ul{
  list-style: none;

}

.octodex{
 overflow: hidden;
 border-image: 2px solid black;
}

.octocat{
  width: 300px;
  display: inline-block;
  margin-right: 66px;
  border-bottom: 1px solid grey ;
  padding-bottom: 5px

}

img{
  max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  border: 1px solid grey;
  display: inline-block;
  box-sizing: boarder-box;

}

span{
  color: grey;
}

a{
  color: black;
}

.authors img{
  width: 25px;
  float: right;
}

.image-footer{
  font-weight: bold;
}

.image-footer:before {
 content:"";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 10px 8.5px 0 8.5px;
 border-color: #DEDEDE  transparent transparent transparent;
 position: absolute;
}

.image-number{
  color: grey;
}

.image-caption{
  text-align: right;
  float: right;
}

.authors{
  float: right;
}


}
